# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
/wordpress

# Plugins
src/wp-content/plugins/*

# Must-use plugins
src/wp-content/mu-plugins/*

# Language files
src/wp-content/languages/*

# Log files
*.log

# htaccess, remove if we need to version it
/.htaccess

# lock files
*.lock
**/vendor
**/*.lock
**/*-lock.json

# environment file
.env

# dist folder
**/dist

# node_modules
**/node_modules