:root {
  --primary-color: #2e87bb;
  --primary-color-hover: #1b4c69;
  --primary-color-reverse: #f8f8f8;
  --surface-ground: #f8f8f8;
  --surface-section: #fafafa;
  --surface-card: #fff;
  --brandSecundaryGold: #504F3B;
  --brandSecundaryGold-dark: #39392E;
  --brandSecundaryGold-light: #9E9B7D;
  --card-hover: #F0EDE4;
  --actionPrimaryColor: #2D75CA;
  --actionPrimaryColorHover: #193F73;
  --secundary-color: #2ebbaf;
  --apoio-color: #626867;
  --text: #696969;
  --text-silver: #e7e7e7;
  --text-silver-medium: #979797;
  --title-color: #454545;
  --title-color-dark: #3d3d3d;
  --text-color: #4F4F4F;
  --text-color-secondary: #4F4F4F;
  --text-primary: #2e87bb;
  --text-reverse: #fff;
  --text-medium: #5d5d5d;
  --blue: #06f;
  --red: #dc2626;
  --green: #0d6d11;
  --field-border: #dfdfe0;
  --hover: #f7f5f1;
  /* stylelint-disable-next-line */
  --shadow: 1px 1px 5px rgba(0, 0, 0, 0.35);
}

.header-top {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 100;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0px 0px 6px #00004420;

  body.logged-in & {
    top: 32px;
  }
}

.topo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 24px 16px 114px;
  box-sizing: border-box;
  width: 98%;
  margin: 0 auto;
  max-width: 1440px;
  transition-property: padding;
  transition-duration: 0.35s;
  transition-timing-function: ease;

  @media screen And (max-width: 1440px) {
    padding: 24px 24px 16px 24px;
  }

  @media screen And (max-width: 1280px) {
    padding: 24px 120px 16px 24px;
  }

  @media screen And (max-width: 768px) {
    padding: 16px 24px 16px 24px;
  }
}

.container-bt-owner {
  @media screen And (max-width: 768px) {
    display: none;
  }
}

.div_logo {
  transform: translateY(-2px);
  transition-property: margin-left;
  transition-duration: 0.35s;
  transition-timing-function: ease;
}

.div_logo img {
  transition-property: width;
  transition-duration: 0.35s;
  transition-timing-function: ease;
}

.menuDesktop {
  position: relative;
  width: 100%;
  display: flex;
  transition-property: margin-right;
  transition-duration: 0.35s;
  transition-timing-function: ease;
}

.menuDesktop ul {
  list-style-type: none;
  text-align: center;
  display: flex;
  align-items: center;

  @media screen and (max-width: 1280px) {
    display: none;
  }
}

.menuDesktop ul li {
  padding: 0 17px;
  transition-property: padding;
  transition-duration: 0.35s;
  transition-timing-function: ease;

  @media screen and (max-width: 1366px) {
    padding: 0 12px;
  }
}

.menuDesktop ul li a {
  font-family: Inter, sans-serif;
  color: var(--brandSecundaryGold);
  font-size: 0.875rem;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  transition-property: font-size, color;
  transition-duration: 0.35s;
  transition-timing-function: ease;
}

.menuDesktop ul li a:link,
.menuDesktop ul li a:active,
.menuDesktop ul li a:visited {
  color: var(--brandSecundaryGold);
}

.menuDesktop ul li a:hover {
  color: var(--brandSecundaryGold-dark);
}

.menuDesktop ul li a.active {
  color: var(--brandSecundaryGold);
  font-weight: bold;
}

#topMenu.menu-contracted {
  .header-container {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 32px 20px 30px 20px;
    height: 100px;
  }

  .logo-link {
    display: table;
  }

  .menu {
    display: none;
  }

  .menu_Idioma {
    display: none;
  }

  .member-loginbtn {
    width: 210px;
  }

  .member-loginbtn a {
    padding: 10px !important;
  }
}

#mob-menu.active {
  display: block;
}

.whatsApp-container {
  width: 50%;
  padding-left: 22px;
  color: #969bab;
  text-align: left;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 500;
  background-image: url('~@images/ico_whatsapp.svg');
  background-repeat: no-repeat;
  background-position: left;

  .fonte {
    padding: 0px;
    margin: 1px 0px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 20px;
    font-feature-settings: 'liga' off;
    text-decoration: none;
    color: #969bab;
  }
}

.mob-menu {
  display: block;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 30px;
  padding: 32px 84px 4px 24px;
  z-index: 24000;
  color: #828282;
  color: red;
  box-sizing: border-box;
  transform: translateX(100px);
  transition-property: padding, transform;
  transition-duration: 0.35s;
  transition-timing-function: ease;

  .bt-action-white {
    color: #3c4343 !important;
  }

  @media only screen and (max-width: 1280px) {
    transform: translateX(0px);
  }

  @media only screen and (max-width: 768px) {
    padding: 21px 60px 4px 24px;
  }

  @media only screen and (max-width: 360px) {
    padding: 21px 60px 4px 24px;
  }
}

#menuToggle {
  display: flex;
  flex-direction: column;
  top: 25px;
  right: 0px;
  z-index: 1;
  user-select: none;
}

#menuToggle input {
  display: flex;
  width: 40px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

#menuToggle span {
  display: flex;
  width: 34px;
  height: 4px;
  margin-bottom: 9px;
  position: relative;
  background: #444;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 5px 0px;
  transition:
    transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(46deg) translate(-2px, 6px);
  background: #000;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 1;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-46deg) translate(-0px, -6px);
}

#menuMobile {
  position: absolute;
  width: calc(100vw + 8px);
  height: 100vh;
  overflow: hidden;
  overflow-y: auto;
  right: -8px;
  top: 0px;
  padding: 64px 32px 70px 32px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  box-shadow: 0 0 10px #85888c;
  box-sizing: border-box;
  background-color: #f5f6fa;
  transform-origin: 0% 0%;
  transform: translate(110vw, 0px);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  list-style-type: none;
}

.menu-mobile li {
  padding: 32px 32px;
  border-bottom: 1px solid #9e9b7d22;
  transition-delay: 2s;
  text-align: center;
}

.menu-mobile li a {
  font-family: Inter, sans-serif;
  color: var(--brandSecundaryGold);
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  transition-property: font-size, color;
  transition-duration: 0.35s;
  transition-timing-function: ease;
}

.menu-mobile li a:link,
.menu-mobile li a:active,
.menu-mobile li a:visited {
  font-size: 1rem;
  color: var(--brandSecundaryGold);
}

.menu-mobile li a:hover {
  color: var(--brandSecundaryGold-dark);
}

.menu-mobile li a.active {
  color: var(--brandSecundaryGold);
  font-weight: bold;
}

.menu-mobile .menu-mob-img {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 0px solid transparent;
}

.menu-mobile .menu-mob-img img {
  width: 100%;
  max-width: 192px;
  cursor: pointer;
}

.menu-mobile .menu-mob-owner {
  padding: 48px 0px;

  a {
    color: #fff !important;
  }
}

#menuToggle input:checked ~ ul {
  @media screen And (max-width: 1280px) {
    transform: translate(0vw, 0px);
  }
}

.menuMobButtons {
  margin: 0 auto;
  width: 90%;
  display: block;
}

.menuMobButtons li {
  width: 100%;
  text-align: center;
}

.menuIdioma {
  margin: 0 auto;
  width: 90%;
  min-width: 150px;
  max-width: 250px;
  display: grid;
  grid-template-columns: 33% 34% 33%;
}

.idioma_mob_display {
  font-size: 12px;
}

.menuIdioma .idioma_mob_display {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 20px;
  color: #828282;
  color: green;
  cursor: pointer;
  transition-property: color;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.menuIdioma .idioma_mob_display a:link {
  font-size: 11px;
  font-weight: 400;
}

.menuIdioma .idioma_mob_display a:active {
  font-size: 11px;
  font-weight: 400;
}

.menuIdioma .idioma_mob_display a:visited {
  font-size: 11px;
  font-weight: 400;
}

.menuIdioma .idioma_mob_display a:hover {
  font-size: 11px;
  font-weight: 400;
}

.menuIdioma .idioma_mob_display:hover {
  color: #444;
}

.menuIdioma .idioma_mob_display_active {
  font-weight: 800;
  font-size: 12px;
}

#menuMobile .menu-mob-lang {
  text-align: center;
  padding-top: 40px 0px;
  border-bottom: 0px solid transparent;
}

#menuMobile .menu-mob-lang label {
  font-size: 0.75rem;
  color: var(--text-color);
}

.menu-mob-lang-container {
  padding-top: 16px;
  display: flex;
  column-gap: 24px;
  justify-content: center;
}

.bt-owner-login {
  display: block;
  font-family: Inter, sans-serif;
  color: #f6f6f6;
  border: 0px solid transparent;
  outline: none;
  font-weight: 500;
  font-size: 0.875rem;
  letter-spacing: 0.01rem;
  box-sizing: border-box;
  min-width: 232px;
  padding: 15px 42px 15px 46px;
  cursor: pointer;
  background-color: var(--actionPrimaryColor);
  background-image: url('~@images/icon_key.svg');
  background-repeat: no-repeat;
  background-position: 16px 12px;
  transition-property: background-color, color, border;
  transition-duration: 0.35s;
  transition-timing-function: ease-in;
  text-align: center;

  &:hover {
    color: #fff;
    border: 0px solid transparent;
    background-color: var(--actionPrimaryColorHover);
  }
}

.language-selector {
  @apply  hidden
          lg:flex;

  &__btn {
    @apply  uppercase
            flex
            items-center
            py-[12px]
            pb-[12px]
            px-3
            gap-2
            border-2
            border-gray-300
            rounded-none
            text-neutral-700
            focus:outline-none;

    &:hover,
    &:active,
    &:focus,
    &:focus-within,
    &:focus-visible {
      @apply  bg-white
              text-neutral-700
              border-gray-300;
    }
  }

  &__switcher {
    @apply  absolute
            hidden
            top-full
            w-full
            border-solid
            border-2
            border-t-0
            border-gray-300;

    a {
      @apply  block
              uppercase
              py-2
              px-3
              text-neutral-700
              border-b-gray-300
              border-solid
              border-0
              border-b-2
              bg-white
              last:border-b-0;
    }
  }
}
